<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.1.0" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.1.0" targetFramework="net45" />
  <package id="CommonServiceLocator" version="1.0" targetFramework="net45" />
  <package id="Extended.Wpf.Toolkit" version="1.8.0" targetFramework="net45" />
  <package id="log4net" version="2.0.0" targetFramework="net45" />
  <package id="morelinq" version="1.0.15631-beta" targetFramework="net45" />
  <package id="MvvmLight" version="4.1.23.0" targetFramework="net45" />
  <package id="MvvmValidation" version="1.1.0-beta2" targetFramework="net45" />
  <package id="NAudio" version="1.6" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.5" targetFramework="net45" />
  <package id="ObservableCollectionEx" version="1.0.1" targetFramework="net45" />
  <package id="QuickGraph" version="3.6.61119.7" targetFramework="net45" />
  <package id="taglib" version="2.1.0.0" targetFramework="net45" />
  <package id="Unofficial.Blend.Interactivity" version="1.0.0" targetFramework="net45" />
</packages>