@import "bootstrap.less";
@import "bootswatch.less";

div.mx-jumbotron {
	height: 350px;
	margin-top: 30px;
}

span.mx-heart {
	color: #E23047;
}

div.row {
	margin-top: 30px;
	margin-bottom: 30px;
}

div.mx-features {
	p {
		font-size: 120%;
	}
}

a.mx-btn-download {
	text-shadow: 1px 1px #666666;
}

a.mx-screenshot {
	margin-left: 10px;
	margin-right: 10px;
}