@import "bootstrap.less";
@import "bootswatch.less";

html {
	padding-top: 80px;
}

.jumbotron {
	height: 350px;
}

.lead {
	text-align: center;
}

.mx-component {
	.make-lg-column-offset(2);
	.make-lg-column(8);
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 150%;
}

.mx-feature-list {
	
	.mx-feature-list-item {
		.mx-component;
		
		.mx-feature-list-item-img {
			
			.make-lg-column(2);
			text-align: center;
			padding-top: 30px;
			
			img {
				height: 100px;
				width: 100px;
			}
		}
		
		.mx-feature-list-item-content {
			
		}
	}
	
	.row:nth-child(even) {
		p,
		h1 {
			text-align: right;
		}
		
		.mx-feature-list-item-img {
			.make-lg-column-push(10);
			//text-align: left;
		}
		
		.mx-feature-list-item-content {
			.make-lg-column(10);
			.make-lg-column-pull(2);
		}
	}
}